<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>項目添加</title>
<link href="/bootstrap/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="/bootstrap/bootstrap/css/bootstrap-responsive.css"
	rel="stylesheet">
<link href="/bootstrap/bootstrap/css/font-awesome.min.css"
	rel="stylesheet" type="text/css" />
<link href="/bootstrap/bootstrap/css/style-metro.css" rel="stylesheet"
	type="text/css" />
<link href="/bootstrap/bootstrap/css/style.css" rel="stylesheet"
	type="text/css" />
<link href="/bootstrap/bootstrap/css/style-responsive.css"
	rel="stylesheet" type="text/css" />
<link href="/bootstrap/bootstrap/css/uniform.default.css"
	rel="stylesheet" type="text/css" />
<link href="/bootstrap/bootstrap/css/jquery.gritter.css"
	rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/bootstrap/bootstrap/css/DT_bootstrap.css" />
<link rel="stylesheet" href="/bootstrap/bootstrap/css/select2.css" />
<link href="/bootstrap/bootstrap/css/bootstrap-modal.css"
	rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="/bootstrap/bootstrap/image/favicon.ico" />

<!--kindeditor  -->
<link rel="stylesheet"
	href="/kindeditor-4.1.10/themes/default/default.css" />
<link rel="stylesheet"
	href="/kindeditor-4.1.10/plugins/code/prettify.css" />
<script charset="utf-8" src="/kindeditor-4.1.10/kindeditor.js"></script>
<script charset="utf-8" src="/kindeditor-4.1.10/lang/zh-CN.js"></script>
<script charset="utf-8"
	src="/kindeditor-4.1.10/plugins/code/prettify.js"></script>
<script>
	KindEditor.ready(function(K) {
		var editor1 = K.create('textarea[name="description"]', {

			cssPath : '/kindeditor-4.1.10/plugins/code/prettify.css',
			uploadJson : '/kindeditor-4.1.10/php/upload_json.php',
			fileManagerJson : '/kindeditor-4.1.10/php/file_manager_json.php',
			allowFileManager : true,
			afterCreate : function() {
				var self = this;
				K.ctrl(document, 13, function() {
					self.sync();
					document.forms['projectCreate'].submit();
				});
				K.ctrl(self.edit.doc, 13, function() {
					self.sync();
					document.forms['projectCreate'].submit();
				});
			}
		});
		prettyPrint();
	});
</script>
</head>
<body>
	<div class="page-container" style="padding: 0 8% 0 8%">
		<div class="row-fluid">
			<div class="span12">
				<div class="portlet box light-grey">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-user"></i>项目信息
						</div>
					</div>
					<div class="portlet-body ">
						<form name="projectCreate" method="post"
							action="/controller/project/projectHandler.php?type=add">
							<div class="control-group">
								<label class="control-label">项目标题</label>
								<div class="controls">
									<input name="name" type="text" placeholder="请输入项目名称"
										class="m-wrap span12" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">项目路径</label>
								<div class="controls">
									<input name="path" type="text" placeholder="请输入项目路径"
										class="m-wrap span12" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">项目说明</label>
								<div class="controls">
									<textarea name="description" class="span12" rows="15"></textarea>
								</div>
							</div>
							<div class="actions">
								<button class="btn green" type="reset">
									<i class="icon-dropbox"> </i> 取消
								</button>
								<button role="button" class="btn blue" type="submit">
									<i class="icon-pencil"></i> 保存
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</html>
